@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Liste des produits</h1>

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>
                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">Detail</a>
                </td>
                <td>
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">Suprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>